.tamagui-markdown {
  --f-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --f-size-1: 11px;
  --f-size-2: 12px;
  --f-size-3: 13px;
  --f-size-4: 14px;
  --f-size-5: 16px;
  --f-size-6: 19px;
  --f-size-7: 21px;
  --f-size-8: 24px;
  --f-size-9: 31px;
  --f-size-10: 47px;
  --f-size-11: 57px;
  --f-size-12: 64px;
  --f-size-13: 74px;
  --f-size-14: 95px;
  --f-size-15: 117px;
  --f-size-16: 138px;
  --f-size-true: 14px
}

.tamagui-markdown {
  font-family: var(--f-family);
  font-size: var(--f-size-3);
}

.tamagui-markdown.shrink {
  font-size: var(--f-size-1);
}

.tamagui-markdown ul,
.tamagui-markdown ol {
  all: revert;
  margin: 0;
  line-height: 2;
}

.tamagui-markdown.disable-links ul,
.tamagui-markdown.disable-links ol {
  line-height: 0;
}

.tamagui-markdown ul li,
.tamagui-markdown ol li {
  margin-left: 1.5em;
  all: revert;
  /* line-height: 3; */
}

.tamagui-markdown.disable-links ul li,
.tamagui-markdown.disable-links ol li {
  line-height: 1.5;
  /* line-height-step: 0; */
}

.tamagui-markdown ul li {
  list-style-type: disc;
}

.tamagui-markdown ol li {
  list-style-type: decimal;
}

.tamagui-markdown.disable-links *:is(ol, ul)>li>*:is(ol, ul)>li:last-child {
  margin-bottom: -13px;
}