/* Make the react-big-calendar toolbar better on small screens*/
.rbc-calendar .rbc-toolbar {
  flex-direction: row!important;
}
/* Invert the Chrome <input type="datetime-local" .../>'s calendar icon in dark mode */
.native-datetime-picker-dark ::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* margin: 0px;
  margin-right: 20px !important;  */
}

.react-datetime-picker__wrapper {
  border-radius: 4px;
}

.react-datetime-picker__calendar {
  color: black;
}

.react-datetime-picker__clear-button {
  display: none;
}

.react-datetime-picker__inputGroup {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.react-calendar__navigation__arrow {
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.react-datetime-picker__inputGroup__input {
  /* min-width: 10px; */
  min-width: none;
}


.react-datetime-picker__inputGroup__input[name=amPm] {
  /* min-width: 10px; */
  width: 55px;
}
