/backend/target
/backend/src/protos/jonline.rs
/backend/src/protos/google.protobuf.rs
.vscode
.env

# SSH keys and SSH Keygen related things.
*.key
*.ext
*.srl
*.csr

# Generated YAML from deploy scripts. May contain emails, names, etc.
*.generated.yaml
.minio-data

# Generated JBL certs and NGINX configs
*.jbl
